<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a class="list-group-item">
                键： <input type="text" ng-model="model.Key" placeholder="Key" class="form-control" /></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a class="list-group-item">
                整数值： <input type="text" ng-model="model.IntValue" placeholder="IntValue" class="form-control" /></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a class="list-group-item">
                字符值： <input type="text" ng-model="model.StringValue" placeholder="StringValue" class="form-control" /></a>
        </div>
    </div>
</div>
<div>
     <button type="button" class="btn btn-success" data-toggle="popover" data-placement="right" ng-click="edit()" >
                         <a href="/#/config">确定</a>  
      </button>
</div>





